In [ ]:
import os
local= os.getcwd()
import pandas as pd
import numpy as np

In [11]:
datapath = os.path.join(local,"test", "data10_4.npz")
print(datapath)

D:\code\pycharm\fairness\test\data10_4.npz

In [1]:
data = pd.DataFrame({
    'food':['bacon','pulled pork'],
    'onces':[1,2]
})
print(data)
meat2animal = {
    'bacon':1,
    'pulled pork':2
    
}
data['food'] = data['food'].map(lambda x:meat2animal[x.lower()])
print(data)

NameError: name 'pd' is not defined

In [18]:
df = pd.DataFrame({'A': ['a', 'b', 'a'], 'B': ['b', 'a', 'c'],
                  'C': [1, 2, 4]})
print(df)
df_du = pd.get_dummies(df,prefix=['A1',"b2"])
df_du

   A  B  C
0  a  b  1
1  b  a  2
2  a  c  4

<div>
<style scoped>
    .dataframe tbody tr th:only-of-type {
        vertical-align: middle;
    }

    .dataframe tbody tr th {
        vertical-align: top;
    }

    .dataframe thead th {
        text-align: right;
    }
</style>
<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>C</th>
      <th>A1_a</th>
      <th>A1_b</th>
      <th>b2_a</th>
      <th>b2_b</th>
      <th>b2_c</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>1</td>
      <td>1</td>
      <td>0</td>
      <td>0</td>
      <td>1</td>
      <td>0</td>
    </tr>
    <tr>
      <th>1</th>
      <td>2</td>
      <td>0</td>
      <td>1</td>
      <td>1</td>
      <td>0</td>
      <td>0</td>
    </tr>
    <tr>
      <th>2</th>
      <td>4</td>
      <td>1</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>1</td>
    </tr>
  </tbody>
</table>
</div>

In [11]:
german_numer_path  = os.path.join(os.getcwd(),"data/raw/german/german_data_numer.txt")
german_path  = os.path.join(os.getcwd(),"data/raw/german/german.txt")

# german_num = pd.read_table(german_numer_path,header=None,delim_whitespace=True).values
german_df = pd.read_table(german_path,header=None,delim_whitespace=True)
print(type(german_df))
print(german_df.shape)

<class 'pandas.core.frame.DataFrame'>
(1000, 21)

In [ ]:
print()

In [115]:
from sklearn.linear_model import LogisticRegression
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test = train_test_split(german_num[:,:-1],german_num[:,-1],test_size=0.3)

model = LogisticRegression()
model.fit(X_train,y_train)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='ovr', n_jobs=1,
          penalty='l2', random_state=None, solver='liblinear', tol=0.0001,
          verbose=0, warm_start=False)

In [116]:
y_pred= model.predict(X_train)

In [117]:
from sklearn.metrics import classification_report
y_name = ["1","2"]
print(classification_report(y_train,y_pred,target_names=y_name))
# sum(y_pred == y_test)

             precision    recall  f1-score   support

          1       0.81      0.92      0.86       497
          2       0.70      0.46      0.56       203

avg / total       0.77      0.79      0.77       700

In [126]:
from sklearn.neighbors import KNeighborsClassifier
clf = KNeighborsClassifier(n_neighbors=5)
clf.fit(X_train,y_train)
y_pred = clf.predict(X_test)
accuracy = np.mean(y_test == y_pred)
from sklearn.metrics import classification_report
y_name = ["1","2"]
print(classification_report(y_test,y_pred))

             precision    recall  f1-score   support

          1       0.73      0.85      0.78       203
          2       0.51      0.33      0.40        97

avg / total       0.66      0.68      0.66       300

In [ ]:
from sklearn.metrics import  confusion_matrix
confusion_matrix(y_pred,y_pred)

array([[172,  31],
       [ 65,  32]], dtype=int64)